<div class="flex mx-10 justify-center items-stretch gap-4">
  <div class="book-card">
    <h2 class="book-title">{{ book?.name }}</h2>
    <h3 class="book-author">{{ book?.author }}</h3>
    <p class="book-description">{{ book?.description }}</p>
    <p class="book-pages">Pages: {{ book?.pages }}</p>
    <p class="book-release">Release date: {{ book?.releaseYear }}</p>
  </div>
  <div class="book-image-container">
    <img src="{{book?.image ? book?.image : 'placeholder.svg'}}" alt="{{book?.name}}" class="book-image">
  </div>
</div>
