@if(loggedIn()){
  <div class="flex flex-col ml-10 mr-10 mt-10">
    <p-floatLabel class="flex-grow">
      <textarea pInputTextarea id="comment" [(ngModel)]="newComment" class="w-full h-24 resize-none" rows="3"></textarea>
      <label for="comment">Comment</label>
    </p-floatLabel>
    <p-button (click)="addComment()" label="Add comment" class="mt-2"></p-button>
  </div>
}

<div class="ml-10 mr-10 ">
  @for(comment of comments(); track comment){
    <app-comment-item [comment]="comment" (delete)="deleteComment(comment)" (edit)="editComment($event)"></app-comment-item>
  }
</div>
