<p-inplace closable="closable">
  <ng-template pTemplate="display">
    <span>Add shelve</span>
  </ng-template>
  <ng-template pTemplate="content">
    <input [(ngModel)]="shelfName" type="text" value="Shelve Name" pInputText />
    <p-button label="Add" (click)="addShelf()"></p-button>
  </ng-template>
</p-inplace>
<div class="flex">
  <div class="w-1/10">
    <p-card header="Your shelves">
      @for(shelf of shelves(); track shelf){
        <p (click)="selectShelf(shelf)">{{shelf.name}}</p>
        <p-divider></p-divider>
      }
    </p-card>
  </div>
  <div class="w-9/10">
    @if(selectedShelf()){
      <div class="flex">
        <p-button icon="pi pi-pencil" class="mr-2"/>
        <p-button (click)="deleteShelf(selectedShelf()!)" icon="pi pi-trash" class="mr-2"/>
      </div>
      {{selectedShelf()?.name}}
    } @else {
      <h1>No shelf selected</h1>
    }
  </div>
</div>
